In [2]:
import numpy as np
import pandas as pd

# Preprocessing variables
Reads the data and preprocesses them by the following criteria:

1. Get rid of all the data with mean framewise displacement of more than 0.2
2. Further preprocessing:
    1. Strict: All three human experts have said OK
    2. Moderate: All three human experts have said OK or maybe
    3. Relaxed: The first human expert has said OK

In [3]:
df = pd.read_csv('Variables.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Columns: 106 entries, Unnamed: 0 to SUB_IN_SMP
dtypes: float64(77), int64(10), object(19)
memory usage: 921.0+ KB

In [5]:
df.head()

,Unnamed: 0,Unnamed: 0.1,SUB_ID,X,subject,SITE_ID,FILE_ID,DX_GROUP,DSM_IV_TR,AGE_AT_SCAN,...,qc_notes_rater_1,qc_anat_rater_2,qc_anat_notes_rater_2,qc_func_rater_2,qc_func_notes_rater_2,qc_anat_rater_3,qc_anat_notes_rater_3,qc_func_rater_3,qc_func_notes_rater_3,SUB_IN_SMP
0,0,1,50002,1,50002,PITT,no_filename,1,1,16.77,...,NaN,OK,NaN,fail,ic-parietal-cerebellum,OK,NaN,fail,ERROR #24,1
1,1,2,50003,2,50003,PITT,Pitt_0050003,1,1,24.45,...,NaN,OK,NaN,OK,NaN,OK,NaN,OK,NaN,1
2,2,3,50004,3,50004,PITT,Pitt_0050004,1,1,19.09,...,NaN,OK,NaN,OK,NaN,OK,NaN,OK,NaN,1
3,3,4,50005,4,50005,PITT,Pitt_0050005,1,1,13.73,...,NaN,OK,NaN,maybe,ic-parietal-cerebellum,OK,NaN,OK,NaN,0
4,4,5,50006,5,50006,PITT,Pitt_0050006,1,1,13.37,...,NaN,OK,NaN,maybe,ic-parietal slight,OK,NaN,OK,NaN,1

In [6]:
df = df[df['func_mean_fd']< 0.2]
df = df[df['FILE_ID'] != 'no_filename']
df.to_csv('Variables_Prepd.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 884 entries, 2 to 1111
Columns: 106 entries, Unnamed: 0 to SUB_IN_SMP
dtypes: float64(77), int64(10), object(19)
memory usage: 739.0+ KB

In [7]:
#Relaxed
df2 = df[(df['qc_rater_1'] == 'OK')]
df2.to_csv('Variables_relaxed.csv')
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 853 entries, 2 to 1111
Columns: 106 entries, Unnamed: 0 to SUB_IN_SMP
dtypes: float64(77), int64(10), object(19)
memory usage: 713.1+ KB

In [8]:
#Strict
df2 = df[(df['qc_rater_1'] == 'OK') & (df['qc_func_rater_2'] == 'OK') & (df['qc_func_rater_3'] == 'OK')]
df2.to_csv('Variables_strict.csv')
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 670 entries, 2 to 1107
Columns: 106 entries, Unnamed: 0 to SUB_IN_SMP
dtypes: float64(77), int64(10), object(19)
memory usage: 560.1+ KB

In [9]:
#Moderate
df2 = df[(df['qc_rater_1'] == 'OK') & ((df['qc_func_rater_2'] == 'OK') | (df['qc_func_rater_2'] == 'maybe')) & ((df['qc_func_rater_3'] == 'OK') | (df['qc_func_rater_3'] == 'maybe'))]
df2.to_csv('Variables_moderate.csv')
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 834 entries, 2 to 1111
Columns: 106 entries, Unnamed: 0 to SUB_IN_SMP
dtypes: float64(77), int64(10), object(19)
memory usage: 697.2+ KB

In [26]:
df.groupby(['SITE_ID','DX_GROUP'])[['AGE_AT_SCAN','SEX']].describe()

                  AGE_AT_SCAN                                           \
                        count       mean        std      min       25%
SITE_ID  DX_GROUP
CALTECH  1               19.0  27.442105  10.299747  17.5000  20.55000
         2               18.0  28.016667  10.888594  17.0000  20.82500
CMU      1                3.0  30.333333   8.504901  22.0000  26.00000
         2                2.0  25.500000   6.363961  21.0000  23.25000
KKI      1               12.0   9.556667   1.402286   8.0900   8.29750
         2               27.0  10.081852   1.116134   8.3900   9.30500
LEUVEN_1 1               14.0  21.857143   4.111095  18.0000  19.00000
         2               15.0  23.266667   2.914659  18.0000  22.00000
LEUVEN_2 1               13.0  13.807692   1.064160  12.1000  13.00000
         2               19.0  14.221053   1.450892  12.2000  13.20000
MAX_MUN  1               18.0  30.444444  13.988324  11.0000  19.75000
         2               24.0  25.916667   8.319263   7.0000  23.00000
NYU      1               73.0  14.921630   7.085510   7.1300   9.95000
         2               98.0  15.674020   6.219430   6.4700  10.90250
OHSU     1               12.0  11.430833   2.182486   8.0000   9.72750
         2               11.0  10.370000   1.097670   8.2000   9.88500
OLIN     1               14.0  16.785714   3.765809  11.0000  14.25000
         2               11.0  17.545455   3.173756  14.0000  15.00000
PITT     1               22.0  19.353182   7.518893  11.4000  13.62500
         2               23.0  19.127826   6.324905  11.8100  14.16000
SBL      1               14.0  35.285714  10.759100  22.0000  30.00000
         2               12.0  34.416667   6.037133  26.0000  27.00000
SDSU     1               12.0  15.053333   1.671517  12.1300  13.94500
         2               21.0  14.319524   1.885074   8.6700  13.35000
STANFORD 1               17.0  10.150212   1.650578   7.5284   8.79120
         2               19.0   9.889811   1.618539   7.7502   8.63380
TRINITY  1               21.0  17.006190   3.117615  12.0000  14.41000
         2               23.0  17.483478   3.658998  12.0400  14.78500
UCLA_1   1               28.0  13.617500   2.694361   8.4900  11.18000
         2               27.0  13.521852   1.953212   9.5000  12.05000
UCLA_2   1                8.0  12.351250   2.062249  10.0400  10.78000
         2               12.0  12.396667   1.025257   9.7900  11.93750
UM_1     1               36.0  13.444444   2.414769   9.2000  11.50000
         2               46.0  14.241304   3.181445   8.2000  11.27500
UM_2     1               12.0  15.050000   1.487218  13.1000  13.80000
         2               19.0  16.942105   4.120048  13.3000  14.65000
USM      1               38.0  24.596955   8.569751  11.3539  17.90210
         2               23.0  22.332304   7.869168  10.4668  16.58725
YALE     1               22.0  13.007273   3.098089   7.0000  11.26750
         2               26.0  12.756154   2.836535   7.6600  10.71000

                                                 SEX                           \
                       50%        75%      max count      mean       std  min
SITE_ID  DX_GROUP
CALTECH  1         22.8000  31.850000  55.4000  19.0  1.210526  0.418854  1.0
         2         23.4500  32.875000  56.2000  18.0  1.222222  0.427793  1.0
CMU      1         30.0000  34.500000  39.0000   3.0  1.000000  0.000000  1.0
         2         25.5000  27.750000  30.0000   2.0  1.500000  0.707107  1.0
KKI      1          9.3350  10.502500  11.7600  12.0  1.250000  0.452267  1.0
         2          9.9700  10.730000  12.7700  27.0  1.259259  0.446576  1.0
LEUVEN_1 1         20.5000  22.750000  32.0000  14.0  1.000000  0.000000  1.0
         2         22.0000  24.500000  29.0000  15.0  1.000000  0.000000  1.0
LEUVEN_2 1         14.2000  14.300000  15.3000  13.0  1.153846  0.375534  1.0
         2         14.2000  15.150000  16.9000  19.0  1.263158  0.452414  1.0
MAX_MUN  1         29.5000  40.250000  58.0000  18.0  1.166667  0.383482  1.0
         2         26.0000  30.500000  46.0000  24.0  1.041667  0.204124  1.0
NYU      1         12.9600  17.880000  39.1000  73.0  1.123288  0.331042  1.0
         2         14.2800  19.947500  31.7800  98.0  1.265306  0.443766  1.0
OHSU     1         11.0500  12.935000  15.2300  12.0  1.000000  0.000000  1.0
         2         10.5000  11.045000  11.9900  11.0  1.000000  0.000000  1.0
OLIN     1         17.0000  19.000000  24.0000  14.0  1.214286  0.425815  1.0
         2         17.0000  20.500000  23.0000  11.0  1.181818  0.404520  1.0
PITT     1         16.9900  21.735000  35.2000  22.0  1.181818  0.394771  1.0
         2         17.3600  22.160000  33.2400  23.0  1.130435  0.344350  1.0
SBL      1         31.0000  39.500000  64.0000  14.0  1.000000  0.000000  1.0
         2         36.5000  39.000000  42.0000  12.0  1.000000  0.000000  1.0
SDSU     1         15.5000  16.512500  17.1500  12.0  1.000000  0.000000  1.0
         2         14.7500  15.530000  16.8800  21.0  1.285714  0.462910  1.0
STANFORD 1          9.9473  11.654300  12.9363  17.0  1.235294  0.437237  1.0
         2          9.3149  11.287150  12.4298  19.0  1.210526  0.418854  1.0
TRINITY  1         17.0300  19.410000  23.0800  21.0  1.000000  0.000000  1.0
         2         16.8300  19.745000  25.6600  23.0  1.000000  0.000000  1.0
UCLA_1   1         13.5850  15.690000  17.9400  28.0  1.071429  0.262265  1.0
         2         13.4600  14.620000  17.7900  27.0  1.148148  0.362014  1.0
UCLA_2   1         12.2600  13.130000  16.4700   8.0  1.000000  0.000000  1.0
         2         12.6500  13.030000  13.6300  12.0  1.166667  0.389249  1.0
UM_1     1         13.2500  15.250000  18.6000  36.0  1.222222  0.421637  1.0
         2         14.3000  17.200000  19.2000  46.0  1.326087  0.473960  1.0
UM_2     1         15.0000  16.225000  17.4000  12.0  1.083333  0.288675  1.0
         2         15.8000  17.700000  28.8000  19.0  1.052632  0.229416  1.0
USM      1         22.5147  28.984975  50.2231  38.0  1.000000  0.000000  1.0
         2         19.7591  27.460650  39.3949  23.0  1.000000  0.000000  1.0
YALE     1         13.0000  15.605000  17.7500  22.0  1.318182  0.476731  1.0
         2         13.5400  14.377500  17.8300  26.0  1.269231  0.452344  1.0


                    25%  50%   75%  max
SITE_ID  DX_GROUP
CALTECH  1         1.00  1.0  1.00  2.0
         2         1.00  1.0  1.00  2.0
CMU      1         1.00  1.0  1.00  1.0
         2         1.25  1.5  1.75  2.0
KKI      1         1.00  1.0  1.25  2.0
         2         1.00  1.0  1.50  2.0
LEUVEN_1 1         1.00  1.0  1.00  1.0
         2         1.00  1.0  1.00  1.0
LEUVEN_2 1         1.00  1.0  1.00  2.0
         2         1.00  1.0  1.50  2.0
MAX_MUN  1         1.00  1.0  1.00  2.0
         2         1.00  1.0  1.00  2.0
NYU      1         1.00  1.0  1.00  2.0
         2         1.00  1.0  2.00  2.0
OHSU     1         1.00  1.0  1.00  1.0
         2         1.00  1.0  1.00  1.0
OLIN     1         1.00  1.0  1.00  2.0
         2         1.00  1.0  1.00  2.0
PITT     1         1.00  1.0  1.00  2.0
         2         1.00  1.0  1.00  2.0
SBL      1         1.00  1.0  1.00  1.0
         2         1.00  1.0  1.00  1.0
SDSU     1         1.00  1.0  1.00  1.0
         2         1.00  1.0  2.00  2.0
STANFORD 1         1.00  1.0  1.00  2.0
         2         1.00  1.0  1.00  2.0
TRINITY  1         1.00  1.0  1.00  1.0
         2         1.00  1.0  1.00  1.0
UCLA_1   1         1.00  1.0  1.00  2.0
         2         1.00  1.0  1.00  2.0
UCLA_2   1         1.00  1.0  1.00  1.0
         2         1.00  1.0  1.00  2.0
UM_1     1         1.00  1.0  1.00  2.0
         2         1.00  1.0  2.00  2.0
UM_2     1         1.00  1.0  1.00  2.0
         2         1.00  1.0  1.00  2.0
USM      1         1.00  1.0  1.00  1.0
         2         1.00  1.0  1.00  1.0
YALE     1         1.00  1.0  2.00  2.0
         2         1.00  1.0  1.75  2.0